<h1>Url Shortener</h1>

<%= form_with model: @domain do |form| %>
  <%= form.text_field :url %>
  <%= form.submit "Shorten Url" %>
<% end %>

<h2>Most Visited Domains</h2>
<table>
  <% @top_queries.each do |domain| %>
    <tr>
      <td><%= domain[0] %></td>
      <td><%= domain[1] %></td>
    </tr>
  <% end %>
</table>